<%- include('partials/header'); %>
<form method="post" action="/login" >
	<input required type="password" name="id" id="id"
		class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
	<input required type="password" name="code" id="code"
		class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
	<button type="submit">submit</button>
</form>
<%- include('partials/footer'); %>